.table-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  margin: 0 16px;
}

.mat-form-field {
  margin: 0 16px;
  margin-top: 8px;
}

.search-indication {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mobile-label {
  display: none;
}

.mat-row {
  cursor: pointer;
}

button {
  position: fixed;
  top: calc(100% - 80px);
  left: calc(100% - 80px);
}

@media(max-width: 600px) {
  mat-cell:first-of-type {
    padding-left: 0;
  }

  .mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row { 
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
}
