<div class="table-container mat-elevation-z8">
    <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="inputChanged($event)" placeholder="Ex. fralda" #input>
    </mat-form-field>

    <div class="search-indication" *ngIf="isSearching">
        <mat-spinner></mat-spinner>
    </div>

    <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="nome">
            <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">Nome:</span>
                {{element.nome}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="unidadeMedida">
            <mat-header-cell *matHeaderCellDef>Unidade</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">Unidade:</span>
                {{element.unidadeMedida}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="quantidade">
            <mat-header-cell *matHeaderCellDef>Quantidade</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">Quantidade:</span>
                {{element.quantidade}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="preco">
            <mat-header-cell *matHeaderCellDef>Preço</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">Preço:</span>
                {{element.preco}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="perecivel">
            <mat-header-cell *matHeaderCellDef>Perecível</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">Perecível:</span>
                {{element.perecivel}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="dataValidade">
            <mat-header-cell *matHeaderCellDef>Validade</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">Validade:</span>
                {{element.dataValidade}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="dataFabricacao">
            <mat-header-cell *matHeaderCellDef>Fabricação</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">Fabricação:</span>
                {{element.dataFabricacao}}
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row (click)="onClickItem(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>
<button (click)="addNewItem()" color="primary" mat-fab aria-label="Adicionar item">
    <mat-icon>add</mat-icon>
</button>