<ng-container *ngIf="!deleteAction">
    <button (click)="setActionAndClose('edit')" mat-button>Editar</button>
    <button (click)="setDeleteAction(true)" mat-button>Excluir</button>
</ng-container>

<ng-container *ngIf="deleteAction">
    <h4>Deseja mesmo excluir o produto?</h4>
    <div class="confirm-delete-buttons">
        <button (click)="setActionAndClose('delete')" mat-button>Sim</button>
        <button (click)="setDeleteAction(false)" mat-button>Não</button>
    </div>
</ng-container>