<form [formGroup]="produtoForm" (ngSubmit)="onSubmit()">

    <div class="form-body">
        <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput formControlName="nome" placeholder="Nome">
            <mat-error *ngIf="formControlHasError('nome')">
                {{getErrorMessage('nome', 'Nome')}}
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Unidade de Medida</mat-label>
            <mat-select formControlName="unidadeMedida">
                <mat-option *ngFor="let unidade of getMeasurementValues()" [value]="getMeasurement(unidade)">
                    {{getFormattedMeasurement(unidade)}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="formControlHasError('unidadeMedida')">
                {{getErrorMessage('unidadeMedida', 'Unidade de Medida')}}
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Quantidade</mat-label>
            <input matInput type="text" [suffix]="getQuantitySuffix()" [mask]="getQuantityMask()"
                formControlName="quantidade" placeholder="Nome">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Preco</mat-label>
            <input matInput type="text" [prefix]="'R$ '" mask="separator.2" formControlName="preco" placeholder="Nome">
        </mat-form-field>

        <mat-slide-toggle color="primary" formControlName="perecivel">Perecível</mat-slide-toggle>

        <mat-form-field>
            <mat-label>Data de Validade {{verificaValidadeProduto()}}</mat-label>
            <input matInput type="text" mask="00/00/0000" [dropSpecialCharacters]="false" formControlName="dataValidade"
                placeholder="Data de Validade">
            <mat-error *ngIf="formControlHasError('dataValidade')">
                {{getErrorMessage('dataValidade', 'Data de Validade')}}
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Data de Fabricação</mat-label>
            <input matInput type="text" mask="00/00/0000" [dropSpecialCharacters]="false"
                formControlName="dataFabricacao" placeholder="Nome">
            <mat-error *ngIf="formControlHasError('dataFabricacao')">
                {{getErrorMessage('dataFabricacao', 'Data de Fabricação')}}
            </mat-error>
        </mat-form-field>
    </div>

    <div class="form-buttons">
        <button (click)="cancelAction()" mat-raised-button type="button">Cancelar</button>
        <button color="primary" mat-raised-button type="submit">Salvar</button>
    </div>
</form>