.form-body {
    display: flex;
    flex-wrap: wrap;
    padding: 0 16px;
    align-items: center;
    justify-content: center;
}

.mat-form-field, .mat-slide-toggle {
    flex: 0 0 100%;
    margin: 0 8px;
    max-width: 100%;
}

.mat-slide-toggle {
    display: flex;
    height: unset;
}

:host ::ng-deep .mat-slide-toggle-label {
    justify-content: center;
}

.form-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-buttons button {
    margin: 0 8px;
}

@media(min-width: 480px) {
    .mat-form-field, .mat-slide-toggle {
        flex: 0 0 50%;
        margin: 0 8px;
        max-width: 50%;
    }
}