<button [matMenuTriggerFor]="menu" mat-icon-button aria-label="Menu">
  <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="goTo('formulario')">Fomulario</button>
  <button mat-menu-item (click)="goTo('')">Produtos</button>
</mat-menu>

<div class="app-title">
  <h1>Cadastro de Produtos</h1>
</div>